# Confidential files
secrets.toml

# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
myenv
/myenv

# WSL specific files generated due to copying from windows to wsl
model.keras:Zone.Identifier
model_9.keras:Zone.Identifier